body{
    font-family: sans-serif;
    background: url("images/outerspace.jpg");
    background-size: 100vw;
    display: flex;
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    color: rgb(248,238,68);

}
.charBox{
    background: white;
    border: green solid 1px;
    color: black;
    align-content: center;
    justify-content: center;
    text-align: center
}
.charBox img{
    height: 100px;
    width: 150px;
}
.enemies{
    border: black solid 1px;
    background-color: red;
    color: black;
}
.defender{
    border: green solid 1px;
    background-color: black;
    color: white;
    float: left;
}
.ded{
    opacity: 0;
}
#title{
}
#defender{
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#attackButton{
    background:rgb(186,0,0);
    color: white;
}
#resetButton{
    color: black;
    background: rgb(248,238,68);
}