body{
    font-family: sans-serif;
    background: #555;
    display: flex;
}
.charBox{
    background: white;
    border: green solid 1px;
    align-content: center;
    justify-content: center;
    text-align: center
}
#yourChar{
    height: 200px;
    width: 250px;
}